html, body {
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    color: #FFF;
    background: #565656;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1142px;
    padding: 0 15px;
    height: 100%;
}

.block-title {
    font-family: "Comfortaa", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFF4DF;
}

.button {
    box-sizing: border-box;
    display: block;
    height: 62px;
    border: 1px solid #FFF4DF;
    border-radius: 4px;
    padding: 20px 24px;

    font-family: "Sansation", sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #FFF4DF;
    transition: .3s;
}

.button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.button:active {
    color: #1C130C;
    background: #FFF4DF;
}

.button--filled {

}

.block-shadow {
    height: 100%;
    width: 100%;
    background-color: rgba(18, 12, 8, 0.6);
    position: absolute;
    transition: .3s;
    border-radius: inherit;
}

.block-shadow:hover {
    opacity: 0;
}

.arrow-btn {
    display: flex;
    transition: .3s;
    align-items: center;
}

.arrow-btn:hover {
    transform: translate(130%, 0);
}

.arrow-btn:hover:last-child {
    transform: translate(-80%, 0);
}

.arrow-btn:first-child:hover {

}

.arrow-btn__string {
    display: inline-block;
    transition: .3s;
}

.arrow-btn__arrow {
    display: inline-block;
    transition: .3s;
}

.arrow-btn__arrow:hover {

}

.arrow-btn__string:hover {

}

/*---------------------------------------------------------------------------------*/

.header {
    background: url(../images/header-bg.jpg) 0 0 / cover no-repeat;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.header__top {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    padding: 2px 0;
    margin-bottom: 28px;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav-item {
    margin-right: 24px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    transition: .5s;
}

.header__nav-link:hover {
    color: #FFF4DF;
}

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    height: 100%;
}

.header__intro {
    margin-right: 30px;
}

.header__title {
    margin-bottom: 40px;
}

.header__title-supname {
    color: #FFF4DF80;
}

.header__title-name {
    font-family: "AbrilFatface", sans-serif;
    font-size: 128px;
    font-weight: 400;
}

.header__title-name span {
    vertical-align: text-top;
}

.header__description {
    border-left: .5px solid #FFF4DF;
    margin-bottom: 60px;
}

.header__description-list {
    margin-left: auto;
    max-width: 208px;
}

.header__description-item {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #565656;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: right;
    transition: .3s;
}

.header__description-item:hover {
    color: #FFF4DF;
}

.header__description-item:last-child {
    margin-bottom: 0;
}

.header__preview {
}

.header__preview-list {
    display: flex;
    flex-direction: column;
}

.header__preview-list>span {
    width: 100%;
    height: .5px;
    background-color: #FFF4DF;
    margin: 16px 0;
}

.header__preview-item {
    position: relative;
}

.header__preview-item-shadow {
    height: 100%;
    width: 100%;
    background-color: rgba(18, 12, 8, 0.6);
    position: absolute;
    border-radius: 4px;
    transition: .3s;
}

.header__preview-item-shadow:hover {
    opacity: 0;
}

.header__preview-item img {
    width: 100%;
    border-radius: 4px;
}

.materials {
    height: 100vh;
    background: #FFF4DF;
    padding: 60px;
}

.materials__header {
    margin-bottom: 40px;
}

.materials__header-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.materials__title {
    color: #1C130C;
}

.materials__button {
    color: #1C130C;
}

.materials__list {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(4, 126px);
    grid-template-areas:
        "wood  wood concrete"
        "wood  wood     rock"
        "glass glass    rock"
        "metal resin   resin";
}

.materials__wood {
    grid-area: wood;
    background: url("../images/materials/wood.png") 0 0 / cover no-repeat;
    border-radius: 16px 0 0 0;
}

.materials__concrete {
    grid-area: concrete;
    background: url("../images/materials/concrete.png") 0 0 / cover no-repeat;
    border-radius: 0 16px 0 0;
}

.materials__glass {
    grid-area: glass;
    background: url("../images/materials/glass.png") 0 0 / cover no-repeat;
}

.materials__rock {
    grid-area: rock;
    background: url("../images/materials/rock.png") 0 0 / cover no-repeat;
}

.materials__metal {
    grid-area: metal;
    background: url("../images/materials/metal.png") 0 0 / cover no-repeat;
    border-radius: 0 0 0 16px;
}

.materials__resin {
    grid-area: resin;
    background: url("../images/materials/epoxy resin.png") 0 0 / cover no-repeat;
    border-radius: 0 0 16px 0;
}

.materials__list-item {
    position: relative;
}

.materials__list-item-shadow {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Sansation', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}