html, body {
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    color: #FFF;
    background: #565656;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1142px;
    padding: 0 15px;
    height: 100%;
}

.block-title {
    font-family: "Comfortaa", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFF4DF;
}

.button {
    box-sizing: border-box;
    display: block;
    height: 62px;
    border: 1px solid #FFF4DF;
    border-radius: 4px;
    padding: 20px 24px;

    font-family: "Sansation", sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #FFF4DF;
    transition: .3s ease-in;
}

.button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.button:active {
    color: #1C130C;
    background: #FFF4DF;
}

.button--filled {

}

.block-shadow {
    height: 100%;
    width: 100%;
    background-color: rgba(18, 12, 8, 0.6);
    position: absolute;
    transition: .3s ease-in;
    border-radius: inherit;
}

.block-shadow:hover {
    opacity: 0;
}

.arrow-btn {
    display: flex;
    align-items: center;
}

.arrow-btn:hover .arrow-btn__string {
    transform: translateX(62px);
}

.arrow-btn__string {
    line-height: 50px;
    transition: .3s ease-in;
    max-height: 50px;
    overflow: hidden;
    margin-right: 12px;
    color: #FFF4DF;
}

.arrow-btn__arrow {
    transition: .3s ease-in;
}
/*---------------------------------------------------------------------------------*/
/*----------------------------HEADER-----------------------------------------------*/
/*---------------------------------------------------------------------------------*/

.header {
    background: url(../images/header-bg.jpg) 0 0 / cover no-repeat;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.header__top {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    padding: 2px 0;
    margin-bottom: 28px;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav-item {
    margin-right: 24px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    transition: .3s ease-in;
}

.header__nav-link:hover {
    color: #FFF4DF;
}

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    height: 100%;
}

.header__intro {
    margin-right: 30px;
}

.header__title {
    margin-bottom: 40px;
}

.header__title-supname {
    color: #FFF4DF80;
}

.header__title-name {
    font-family: "AbrilFatface", sans-serif;
    font-size: 128px;
    font-weight: 400;
}

.header__title-name span {
    vertical-align: text-top;
}

.header__description {
    border-left: .5px solid #FFF4DF;
    margin-bottom: 60px;
}

.header__description-list {
    margin-left: auto;
    max-width: 208px;
}

.header__description-item {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #565656;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: right;
    transition: .3s ease-in;
}

.header__description-item:hover {
    color: #FFF4DF;
}

.header__description-item:last-child {
    margin-bottom: 0;
}

.header__preview {
}

.header__preview-list {
    display: flex;
    flex-direction: column;
}

.header__preview-list>span {
    width: 100%;
    height: .5px;
    background-color: #FFF4DF;
    margin: 16px 0;
}

.header__preview-item {
    position: relative;
}

.header__preview-item img {
    width: 100%;
    border-radius: 4px;
}

/*---------------------------------------------------------------------------------*/
/*----------------------------MATERIALS--------------------------------------------*/
/*---------------------------------------------------------------------------------*/

.materials {
    height: 100vh;
    background: #FFF4DF;
    padding: 60px 0;
}

.materials__header {
    margin-bottom: 40px;
}

.materials__header-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.materials__title {
    color: #1C130C;
}

.materials__button:hover .arrow-btn__arrow{
    transform: translateX(-330px);
}

.materials__button-string {
    color: #1C130C;
}

.materials__main {
    margin-bottom: 60px;
}

.materials__list {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(4, 126px);
    grid-template-areas:
        "wood  wood concrete"
        "wood  wood     rock"
        "glass glass    rock"
        "metal resin   resin";
}

.materials__wood {
    grid-area: wood;
    background: url("../images/materials/wood.png") 0 0 / cover no-repeat;
    border-radius: 16px 0 0 0;
}

.materials__concrete {
    grid-area: concrete;
    background: url("../images/materials/concrete.png") 0 0 / cover no-repeat;
    border-radius: 0 16px 0 0;
}

.materials__glass {
    grid-area: glass;
    background: url("../images/materials/glass.png") 0 0 / cover no-repeat;
}

.materials__rock {
    grid-area: rock;
    background: url("../images/materials/rock.png") 0 0 / cover no-repeat;
}

.materials__metal {
    grid-area: metal;
    background: url("../images/materials/metal.png") 0 0 / cover no-repeat;
    border-radius: 0 0 0 16px;
}

.materials__resin {
    grid-area: resin;
    background: url("../images/materials/epoxy resin.png") 0 0 / cover no-repeat;
    border-radius: 0 0 16px 0;
}

.materials__list-item {
    position: relative;
}

.materials__list-item-shadow {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Sansation', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*---------------------------------------------------------------------------------*/
/*----------------------------PROJECTS---------------------------------------------*/
/*---------------------------------------------------------------------------------*/

.projects {
    padding: 60px 0;
}

.projects__header-inner {
    text-align: center;
    padding-bottom: 40px;
}

.projects__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, 70px);
    gap: 28px;
}

.projects__list-item {
    position: relative;
}

.projects__project-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 6;
}

.projects__project-2 {
    grid-column: 5 / 10;
    grid-row: 1 / 4;
}

.projects__project-3 {
    grid-column: 10 / 13;
    grid-row: 1 / 5;
}

.projects__project-4 {
    grid-column: 5 / 10;
    grid-row: 4 / 7;
}

.projects__project-5 {
    grid-column: 10 / 13;
    grid-row: 5 / 7;
}

.projects__project-6 {
    grid-column: 5 / 9;
    grid-row: 7 / 10;
}

.projects__project-7 {
    grid-column: 9 / 11;
    grid-row: 7 / 10;
}

.projects__project-8 {
    grid-column: 11 / 13;
    grid-row: 7 / 10;
}

.projects__project-9 {
    grid-column: 1 / 5;
    grid-row: 6 / 12;
}

.projects__project-10 {
    grid-column: 10 / 13;
    grid-row: 10 / 13;
}

.projects__project-11 {
    grid-column: 5 / 10;
    grid-row: 10 / 16;
}

.projects__project-12 {
    grid-column: 1 / 5;
    grid-row: 12 / 15;
}

.projects__project-13 {
    grid-column: 10 / 13;
    grid-row: 13 / 18;
}

.projects__project-14 {
    grid-column: 1 / 5;
    grid-row: 15 / 19;
}

.projects__project-15 {
    grid-column: 5 / 10;
    grid-row: 16 / 20;
}

.projects__project-16 {
    grid-column: 10 / 13;
    grid-row: 18 / 25;
}

.projects__project-17 {
    grid-column: 1 / 5;
    grid-row: 19 / 25;
}

.projects__project-18 {
    grid-column: 5 / 10;
    grid-row: 20 / 25;
}

.projects__list-item-shadow {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding: 16px;
    opacity: 0;
}

.projects__list-item-shadow:hover {
    opacity: 100%;
}

.projects__project-btn:hover .arrow-btn__arrow {
    transform: translateX(-134px);
}

.projects__project-7 .projects__project-btn {
    transform-origin: right bottom;
    transform: rotate(270deg) translateX(100%);
}

.projects__project-8 .projects__project-btn {
    transform-origin: right bottom;
    transform: rotate(270deg) translateX(100%);
}

.projects__image-box {
    width: 100%;
    height: 100%;
}

.projects__image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}